<div class="box">
  <div class="columns">
    <div class="column is-half has-text-centered">
      <span class="question icon is-large">
        <i class="fa fa-question"></i>
      </span>
    </div>
    <div class="column is-half">
      <p class="notification is-warning">Auto</p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half has-text-centered">
      <span class="fav-seed icon is-large">
        <i class="fa fa-heart-o"></i>
      </span>
    </div>
    <div class="column is-half">
      <p class="notification is-warning">Auto</p>
    </div>
  </div>
</div>
Hello
